@media (min-width: 67em) {
    
    header{
        text-align: left;
        margin: 50px;
        padding-bottom: 25px;
    }

    .logo{
        margin: 50px 0 20px 50px;
    }

    header h1{
        margin-left: 50px;
    }

    header nav ul{
        margin-top: 20px;
        display: flex;
        flex-direction: row;
        flex: 1 1 auto;
        margin-left: 30px;  
        padding-left: 0;
    }

    header nav ul li a{
        margin: 20px;
    }

    header nav ul li a:link{
        font-size: 20px;
        margin: 20px;
        padding: 20px;
        }

    header nav ul li{
        padding: 0px;
        display: flex;
        margin-left: 0;
        margin-right: 0; 
    }

    main{
        text-align: center;
        width: 80%;
    }

    #hamburgerBtn {
        display: none;
    }

    footer{
        padding: 20px;
        margin: 50px;
        text-align: center;
    }

        /******* Instructions Page *******/
    .instruc p{
        margin-left: 60px;
        margin-right: 60px;
    }

    /******* Media Form Page *******/    
    .mediaform iframe{
        width: 820px;
    }

    /******* Why MHR? Page *******/
    .why p{
        margin-left: 60px;
        margin-right: 60px;
      }

      /******* Contact Us Page *******/
    .contactus h2{
        font-size: 30px;
    }
    
    #contactgrid{
        width: 90%;
        display: grid;
        grid-template-columns: 50% 50%;
    }

    form fieldset{
        grid-column: 1/2;
    }

      #contactimg{
        display: block;
        grid-column: 2/3;
        width: 80%;
        margin-top: 55px;
    }

        form label.top input,
    form label.top select {
    padding: 0.75rem;
    color: #555;
    width: 90%;
    max-width: 50rem;
    background-color: rgba(0, 0, 0, 0.1);
    }

    #inquiry {
        max-width: 50rem;
      }
}

